@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

.herosection-h1{
  color: #101010;
  font-family: Satoshi;
  font-size: 62px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 93px */
}

.herosection-p{
  color: var(--Slate-700, #334155);
  font-family: Satoshi;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 33px */
  padding: 5% 0;
  text-align: justify;
}

.herosection-p3{
  color: var(--Slate-700, #334155);
  font-family: Satoshi;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 33px */
  padding: 1% 0;
  text-align: justify;
}

.herosection-p4{
  color: var(--Slate-700, #334155);
  font-family: Satoshi;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 33px */
  padding-top: 3%;
  padding-bottom:1%;
  text-align: justify;
}

.herosection-p2{
  color: var(--Slate-800, #1E293B);
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  padding: 5% 0;
  display: flex;
}

.herosection-p2-3{
  display: flex;
  align-items: flex-start;
  gap: -8px;
}

.hero-button{
  display: flex;
  padding: 5% 0;
  align-items: center;
  gap: var(--spacing-15, 3%);
}

.market-section-h2{
  color: #0A0A0A;
  font-family: Satoshi;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 72px; /* 150% */
  letter-spacing: var(--font-tracking-normal, 0);
}

.market-section-p{
  color: #222;
  font-family: Satoshi;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 181.818% */
  letter-spacing: var(--font-tracking-normal, 0);
}
.feature-card
{
  display: flex;
  align-items: flex-start;
  gap: 114px;
  align-self: stretch;
}
.feature-card-1{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 27px;
}

.feature-card-h3{
  color: var(--Slate-800, #1E293B);
  font-family: Satoshi;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 37.333px; /* 186.667% */
}

.feature-card-p{
  color: var(--Slate-700, #334155);
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}

.everything-h2{
  color: #0A0A0A;
  font-family: Satoshi;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 72px; /* 150% */
  letter-spacing: var(--font-tracking-normal, 0);
}

.everything-p{
  color: #222;
  font-family: Satoshi;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 181.818% */
  letter-spacing: var(--font-tracking-normal, 0);
}

.everything-main{
  border-radius: 5%;
}

.pricing-h2 {
  color: #0A0A0A;
  font-family: Satoshi;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 56px; /* 116.667% */
  letter-spacing: var(--font-tracking-normal, 0);
}

.pricing-p {
  color: #222;
  font-family: Satoshi;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 181.818% */
  letter-spacing: var(--font-tracking-normal, 0);
}

.pricing-cards {
  display: grid;
  height: 384px;
  max-width: var(--width-1024, 1024px);
  margin: 0 auto;

  row-gap: 24px;
  column-gap: 24px;

  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.pricing-cards1 {
  display: flex;
  padding: 28px;
  flex-direction: column;
  align-items: flex-start;
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  justify-self: stretch;
  border-radius: 16px;
  border: var(--stroke-weight-1, 1px) solid var(--color-grey-91, #E2E8F0);
  background: var(--color-white-solid, #FFF);
}

.cta {
  background: linear-gradient(91deg, #0048FF -7.01%, #187EFD 95.19%);
}

.cta-h2 {
  color: var(--Slate-50, #F8FAFC);
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 96px */
}

.cta-p {
  color: var(--Slate-50, #F8FAFC);
  font-family: "General Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
}

.cta-button1 {
  display: flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  background: var(--Miscellaneous-Sidebar-Fill---Selected, #FFF);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.footer-h4 {
  color: var(--Neutral-10, #FFF);
  font-family: Satoshi;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 30px */
}

.footer-li {
  color: var(--Neutral-20, #FAFAFA);
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.footer-p {
  color: var(--Neutral-20, #FAFAFA);
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.footer-h3 {
  color: var(--Neutral-10, #FFF);
  font-family: Satoshi;
  font-size: 44px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 66px */
}

.footer-bottom {
  border-top: 1px solid var(--Neutral-70, #606060);
}

.feature-hero {
  padding: 123.5px 254px 123.5px 255px;
  justify-content: center;
  align-items: center;
  border-radius: 44px;
  background: #FFF;
}

.feature-hero-h1 {
  color: #101010;
  text-align: center;
  font-family: Satoshi;
  font-size: 62px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 93px */
}

.feature-hero-p {
  color: var(--Slate-700, #334155);
  text-align: center;
  font-family: Satoshi;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 33px */
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
}

.feature-grid-h4 {
  color: var(--Slate-800, #1E293B);
  font-family: Satoshi;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  font-weight: bold;
  line-height: 37.333px; /* 155.556% */
}

.faq-h3 {
  color: #0F1D1F;
  font-family: Satoshi;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-weight: bold;
}

.faq-p {
  color: #3D3D47;
  font-family: Satoshi;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px; /* 173.684% */
}

.faq-button {
  display: flex;
  padding: 32px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-radius: 15px;
  border: 1px solid #E6E6E6;
  background: #FAFAFA;
}

.aboutheroimage {
  align-content: end;
}

.aboutimage {
  align-content: center;
  align-items: center;
}

.team-desig {
  color: var(--Black, #12141D);
  text-align: right;
  font-family: Satoshi;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 146.667% */
}

.team-name {
  color: var(--gray-900, #18181B);
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 175% */
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}